{% extends 'base.html.twig' %}

{% block title %}Modifier Profil
{% endblock %}

{% block body %}
	<div class="form-container-r">
		<div class="background-image"></div>
		<div class="form-wrapper-r">
			<h1 class="card-title mb-5">Modifier mes informations</h1>
			{{ form_start(form) }}

			{{ form_row(form.firstname, {'label': 'Prénom'}) }}
			{{ form_row(form.lastname, {'label': 'Nom'}) }}
			{{ form_row(form.email, {'label': 'Email'}) }}
			{{ form_row(form.avatar , {'label': 'Avatar'}) }}
			<div class="d-grid gap-2">
				{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-warning mt-3'} }) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div></div></div>{% endblock %}
