{% extends 'base.html.twig' %}

{% block title %}Votre Profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style></style>
{% endblock %}

{% block body %}
	<div class="card-wrapper">
		<div class="background-image"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card-container">
						<div class="card-body">
							<h1 class="card-title">Bienvenue
								{{ user.firstname }}</h1>
							<img src="{{asset("/uploads/avatar/" ~ user.avatar) }}" alt="Avatar de {{ user.firstname }}" class="img-fluid">
							<div class="mt-5">
								<p class="card-text">
									<strong>Prénom :</strong>
									{{ user.firstname }}</p>
								<p class="card-text">
									<strong>Nom :</strong>
									{{ user.lastname }}</p>
								<p class="card-text">
									<strong>Email :</strong>
									{{ user.email }}</p>
								<div class="d-grid gap-2">
									<a href="{{ path('app_profile') }}">
										<button class="btn btn-warning mt-2" type="submit">
											Modifier mes informations
										</button>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
