{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	Accueil
	{% endtrans %}
	| NETFLUX

{% endblock %}

{% block body %}
	{% if app.user %}
		<section>
			{% for genre in genres %}
				<div class="title">
					<h2>{{ genre.name }}</h2>
				</div>
				<div class="carouselSlider">
					<div class="carouselContainer">
						<ul>
							{% for video in genre.videos %}
								<a href="{{path('app_video_detail',{'slug':video.slug, 'id':video.id})}}">
									<li>
										<img src="{{asset('uploads/thumbnail/' ~ video.thumbnail)}}" class="thumbnail" alt="">
										<p>{{video.title}}</p>
										<p>{{video.category}}</p>
									</li>
								</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</section>
	{% else %}
		{% include "components/_homeNotLogged.html.twig" %}
	{% endif %}
{% endblock %}
