{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="carouselContainer">
			<div class="carouselSlider">
				<div class="carouselItems">
					<div class="items">
						<div>
							<img src="{{asset('uploads/avatar/FU7ZCyrX0AQK-U-64eef316e1546.jpg')}}" alt="">
						</div>
					</div>
					<div class="items">
						<div>
							<img src="{{asset('assets/pictures/NETFLUX_VF.png')}}" alt="">
						</div>
					</div>
					<div class="items">
						<div>
							<img src="{{asset('uploads/avatar/FU7ZCyrX0AQK-U-64eef316e1546.jpg')}}" alt="">
						</div>
					</div>
					<div class="items">
						<div>
							<img src="{{asset('uploads/avatar/FU7ZCyrX0AQK-U-64eef316e1546.jpg')}}" alt="">
						</div>
					</div>
					<div class="items">
						<div>
							<img src="{{asset('uploads/avatar/FU7ZCyrX0AQK-U-64eef316e1546.jpg')}}" alt="">
						</div>
					</div>
					<div class="items">
						<div>
							<img src="{{asset('assets/pictures/NETFLUX_VF.png')}}" alt="">
						</div>
					</div>
				</div>
			</div>
			<button class="prev-button"></button>
			<button class="next-button">Suivant</button>
		</div>
	{% else %}
		{% include "components/_homeNotLogged.html.twig" %}
	{% endif %}


{% endblock %}
