{% extends 'base.html.twig' %}

{% block title %}Inscription | Netflux
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style></style>
{% endblock %}

{% block body %}
	<div class="form-container-r">
		<div class="background-image"></div>
		<div class="form-wrapper-r">
			<h1 class="h3 font-weight-normal">Inscription</h1>
			{{ form_start(registerForm) }}
			{{ form_row(registerForm.email) }}
			{{ form_row(registerForm.password) }}
			{{ form_row(registerForm.lastname) }}
			{{ form_row(registerForm.firstname) }}
			{{ form_row(registerForm.avatar) }}
			<div class="d-grid gap-2">
				{{ form_widget(registerForm.submit, { 'attr': {'class': 'btn btn-warning mt-3'} }) }}
			</div>
			{{ form_end(registerForm) }}
		</div>
	</div>
{% endblock %}
